@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:wght@200..1000&display=swap');

@import "tailwindcss";  


:root {
  font-family: system-ui, 'Hedvig Letters Serif', serif;
  line-height: 1.5;
  font-weight: 400, 700;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.font-hedvig {
  font-family: 'Hedvig Letters Serif', serif;
}
.font-comfortaa {
  font-family: 'Comfortaa', cursive;
}

.footer-link {
  position: relative;
  display: inline-block;
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #1a1a1a;
  transition: width 0.3s ease;
}

.footer-link:hover::after {
  width: 100%;
}

.snap-x::-webkit-scrollbar {
  display: none;
}

.snap-x {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


